<li class="list-group-item" [ngClass]="{'list-group-item-info': filmOnAir == true,
                                        'list-group-item-warning' : filmOnAir == false}"
>

    <div class="row">
        <div class="col-1">
            <img class="affiche" [src]="filmAffiche">
        </div>
        <div class="col-8">
          <div class="onAir" *ngIf="filmOnAir === false">
            <img src="https://image.son-video.com/images/illustration/guides/blu-ray-ultra-hd-4k-le-disque-ultra-haute-definition/SVDGUI-201009-DVDHauteDe-finition-980x260.jpg" alt="Film Blue Ray">
          </div>
          <div class="onAir" *ngIf="filmOnAir === true">
            <img src="https://img.lemde.fr/2021/10/01/0/0/3250/2167/664/0/75/0/618639f_830346712-rea-294658-008.jpg" alt="Film En Salle">
          </div>
          <h3 [ngStyle]="{color : changeColor()}">{{ filmName }}</h3>
          <button class="btn btn-outline-success" (click)="onWatchFilm()">
            Voir</button
          ><br/>
          <button class="btn btn-outline-info" (click)="onSwitch()">Switch</button>
        </div>
        <div class="col-2">
          <a [routerLink]="['/modif', id]" class="btn btn-warning">M</a>
          <button class="btn btn-outline-danger">X</button>
        </div>
      </div>
    
</li>